/* importing  google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

/* --------------------------- */
/*--------BASIC SETUP----------*/
/* --------------------------- */
:root{
    --primary-color:#e67e22;
    --primary-color-dark:#cf6d17;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    color: #555;
    /* animation: fontSize 4s ; */
}
body{
    box-sizing: border-box;
}

/* --------------------------- */
/*--------UTILITY CLASS----------*/
/* --------------------------- */
.mr-sm{
    margin-right: 1rem !important;
}


/* --------------------------- */
/*-------REUSABLE-CONTENT------*/
/* --------------------------- */

h1,h2,h3{
    text-transform: uppercase;
    font-weight: 300;
}
.row{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

section{
    margin: 8rem 0;
}

/* --------------------------- */
/*------------HEADER-----------*/
/* --------------------------- */

header{
    background-image:linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)) , url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.hero-logo{
    height: 10rem;
}
.hero-logo-black{
    display: none;
}

nav .links{
    display: flex;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    display: block;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in;
    text-transform: uppercase;

}
.links :not(:last-child){
    margin-right: 2.5rem;
}
.links li a:hover{
    border-bottom: 2px solid var(--primary-color);
}

/* for sticky  navigation*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,1);
    z-index: 9999;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.sticky .links{
    margin-right: 4rem;
    margin-top: 1rem;
}
.sticky .hero-logo{
    display: none;
}
.sticky .hero-logo-black{
    margin-top: 0;
    margin-left: 4rem;
    /* padding-bottom: 2rem; */
    height: 5rem;
    display: block;
}
.sticky .links li a{
    color: #555;
    font-size: 2rem;
    padding-bottom: 2rem;
}
/*---------------------*/
/*---------------------*/
/*---------------------*/

.main-box{
    position: absolute;
    width: 114rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.heading-1{
    font-size: 4.5rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #fff;
    margin-bottom: 2rem;
}


/* --------------------------- */
/*------------BUTTONS-----------*/
/* --------------------------- */

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all .2s ease-in;
}
.btn-full{
    background-color: var(--primary-color);
    color: #fff;
}
.btn-ghost{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.btn-full:hover{
    background-color: var(--primary-color-dark);
}
.btn-ghost:hover{
    background-color: var(--primary-color-dark);
    color: #fff;
}



/* --------------------------- */
/*------------FEATURES-----------*/
/* --------------------------- */

.features{
    padding: 9rem 0;
}

.heading-2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    /* margin-top: 4rem; */
}
.heading-2::after{
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-color);
    margin: 2.5rem auto;
}
.long-para{
    font-size: 2rem;
    text-align: center;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 4rem;
}
.features-elements{
    display: flex;
}
.heading-3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.short-para{
    font-size: 2rem;
    line-height: 140%;
    width: 100%;
}

/* --------------------------- */
/*------------MEALS-----------*/
/* --------------------------- */

.meals{
    padding-top: 0;
    margin: 0;
}

.meals-gallary{
    display: flex;
}
.meals-image{
    /* height: 31rem; */
    width: 25%;
    overflow: hidden;
}
 .image{
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    transform: scale(1.2);
    transition: all .3s ease-in;
}
.image:hover{
   transform: scale(1);
   filter: brightness(100%);
}

/* --------------------------- */
/*------------STEPS-----------*/
/* --------------------------- */


.steps{
    background-color: #eeeeee;
    margin: 0%;
    padding-top:10rem ;
}

.steps-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.iphone{
    height: 55rem;
    /* margin-right: 20rem; */
    padding: 8rem;
    padding-top: 0;
}

.steps-box{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    margin-bottom: 3rem;
    /* padding: 0 10    rem; */
    /* margin-right: 30rem; */
}
.number{
    display: inline-block;
    font-size: 2.5rem;
    color:var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    margin-right: 2rem;
    padding: 1.2rem 2rem;
}
.short{
    width: 60%;
}
.download-links >*{
    display: inline-block;
    /* width: 20rem; */
    height: 5rem;
}

/* --------------------------- */
/*------------CITIES-----------*/
/* --------------------------- */
.cities{
    padding: 8rem 0;
}

.city-container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.city{
   width: 100%;
}
.heading-3.city{
    margin: 1rem 0;
    text-align: center;
}
.city-box{
    width: 23%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    border: 1px solid #f9f7f7;
    /* background-color: #f7f7f7; */
    box-shadow: 0 5px 20px rgba(151, 121, 121, 0.2);
    /* box-shadow: 0 0px 10px rgb(230, 126, 34); */
    border-radius: 3px
}
.cities-ratings>*{
    font-size: 2.4rem;
    text-decoration: none;
    list-style: none;
}
.cities-ratings a{
    color: var(--primary-color);
    border:1px solid transparent;
}
.cities-ratings a:hover,
.cities-ratings a:active{
    border-bottom: 1px solid var(--primary-color);
}

/* --------------------------- */
/*---------TESTIMONIALS--------*/
/* --------------------------- */

.testimonials{
    padding: 10rem;
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url('./img/back-customers.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    margin-bottom: 0px;
}

.testimonials-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials-box{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bq-testimonials{
    font-size: 2rem;
    font-style: italic;
    width: 90%;
    line-height: 140%;
}
figcaption{
    font-size: 1.6rem;
}

.testimonials-figure{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
}

.testimonials-figure img{
  display: block;
  margin-right: 1rem;
  width: 5rem;
  border-radius: 50%;
}
/* --------------------------- */
/*---------PLANS--------*/
/* --------------------------- */


.plans{
    padding: 6rem;
    padding-top: 8rem;
    background-color: #f4f4f4;
    margin: 0;
}

.plans-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    /* background-color: #fff; */
}

.plans-box{
    border: 1px solid #dddddd;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: #fff;
}
.plans-button-box{
    width: 50%;
    margin: auto;
}
.plans-box a{
    display: inline-block;
    margin: 2rem 0;
    margin-left: 25%;
    /* padding: 0   ; */
}
.plans-button-box .btn{
   width: auto;
   display: block;
   margin: 1rem auto;
   text-align: center;
   padding: 1rem .5rem;
}

.money{
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: 100;
}
.month{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 100;
}
.plans-description {
    padding:  2rem;
    border-bottom: 1px solid #e8e8e8;
    /* padding-top: 3rem; */
}

.plans-description li{
    font-size: 2rem;
    list-style: none;
    color: #999;
    margin-bottom: .5rem;
}
.light{
    color: #999;
    font-size: 1.6rem;
}

.price-detail{
    margin-bottom: 10px;
    padding: 2rem;
    border-bottom: 1px solid #e8e8e8;
}
.mb-sm{
    margin-bottom: 1rem !important;
}


/* --------------------------- */
/*-------------FORMS-----------*/
/* --------------------------- */

.form{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 60%;   
    margin-left: 20%; 
}
.form-content{
    display: flex;
    justify-content: space-between;
}

.form-content input,label,.yes-please{
    font-size: 2rem;
}
.form-content label{
    display: block;
    
}
.form-content input, textarea,select{
    width: 60%;
    padding: 8px 10px;
    display: block   ;
    /* margin-left: rem; */
}
.form-content{
    margin-bottom: 1.5rem;
}

.yes-please{
    margin: 0%  ;
}
.check{
    align-self: flex-start;
}
.centered{
    display: block;
    width: 12rem;
    margin: auto;
    text-align: center
}

/* --------------------------- */
/*-------------FOOTER----------*/
/* --------------------------- */

.footer{
    background-color: #333;
    padding: 6rem;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-links,.right-links{
    display: flex;
}
.left-links li,.right-links li{
    list-style: none;
    margin-left: 1rem;
}
.left-links li a,.right-links li a{
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}
.left-links li a:hover{
    color: #ccc;
}
.footer-para{
    font-size: 1.6rem;
    color: #ccc;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}


/* --------------------------- */
/*----------Animations---------*/
/* --------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-5{
    opacity: 0;
    animation-duration: 1s; 
}
.js--wp-4{
    animation-duration: 1s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-5.animated{
    opacity: 1;
}


/* burger icon */

.burger{
    position: fixed;
    cursor: pointer;
    right: 20px;
    display: none;
}

.sticky .burger{
    top: 20px;
}
.burger-line{
    width: 30px;
    background-color: var(--primary-color);

    /* background-color: red; */
    height: 3px;
    margin-bottom: 5px;
    border-radius: 20%;
}

.active{
    border: 1px solid var(--primary-color-dark);
    box-sizing: content-box;
    padding: 3px;
    top: 25px;
}
/* ---------------------- */
/* -------ICONS-------- */
/* ---------------------- */
.icon-big{
    font-size: 40px;
    display: block;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.icon-small{
    color: var(--primary-color);
    display: inline-block;
    margin-right: 2rem;
}
.fa-facebook{
    color: #1877f2;
}
.fa-google-plus{
    color: #ea4335;
}
.fa-instagram{
    color: #c32aa3;
}
.fa-twitter{
    color: #1da1f2;
}
